# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AceQsy8V10l7hZWv70g-K-py-GjEwwRfxXoIyjOuDRDuORQXaXE7vWAgnHhfjQrZcM0ikiIljEQ0okYY
PAYPAL_CLIENT_SECRET=EFZYLGYXoa3_OLbie61Gl8Vmv9axTBkeT4NbtWKG-zIwNKGMPQ8m90uIAqXdgI_CHBUZmbMmLZugNE9E
